<header class="header">
  <div class="header__container">
    <a class="header__logo" href="/">Food Boutique</a>
    <nav class="header__nav" aria-label="Primary">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a class="header__nav-link" href="#products">Products</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link" href="#popular">Popular</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link" href="#discounts">Discounts</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link" href="#order">Order</a>
        </li>
      </ul>
    </nav>
    <div class="header__actions">
      <a href="./cart.html">cart</a>
    </div>
  </div>
</header>
