<section class="products" id="products">
  <div class="products__container">
    <div class="products__header">
      <div>
        <p class="title-sm">Catalog</p>
        <h2 class="section__title">Hand-picked items for every meal</h2>
        <p class="section__text">
          Filter through hundreds of products to curate your perfect grocery
          list.
        </p>
      </div>
      <form class="products__filters" action="" novalidate>
        <label class="products__search">
          <span class="visually-hidden">Search products</span>
          <input type="text" placeholder="Search" />
        </label>
        <label>
          <span class="visually-hidden">Category</span>
          <select class="products-categories js-products-categories">
            <option value="">All categories</option>
          </select>
        </label>
        <label>
          <span class="visually-hidden">Sort by</span>
          <select></select>
        </label>
      </form>
    </div>
    <ul class="products__list js-products__list"></ul>
  </div>
</section>
