@import url('./base.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./products-list.css');
@import url('./popular-products.css');
@import url('./discount-list.css');
@import url('./cart-list.css');
@import url('./order.css');
@import url('./modal.css');
@import url('./footer.css');
